html, body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  background-color: #0095da;
}
::-webkit-scrollbar {
  width: 0px;
}

.gambarProduk{
  width: 100%;
}

#kartu{
  display: flex;
  height: 150px;
  align-items: center;
  margin: 5px;
}

#kartu img{
height: 150px;
width: auto;
}

#tabPilihan{
  background-color: #0095da;
  position: fixed;
  z-index: 1;
}

#tabPilihan .tab a{
  color: black;
}

#tabPilihan .tab a:focus, #tabPilihan .tab a:focus.active {
  color: white;
}

#tabPilihan .tab a:hover, #tabPilihan .tab a.active {
  color: white;
}

table#infoProduk{
  font-size: 18px;
  padding: 0;
}

table#infoProduk tr, table#infoProduk td{
  border: none;
  padding: 0;
}

table#infoProduk td.tdInfoData{
  font-weight: bold;
}

#tanggal{
  text-align: right;
  width: 200px;
  align-self: flex-start;
  font-weight: bold;
  margin: 10px;
}