html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
}

body{
    background-color: #0095da;
    height: 100%;
}

.fadeBackground{
    padding-top: 76px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
}

div#whiteBoardDetail{
    background-color: white;
    margin: 15px;
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    position: fixed;
}

#includeFormPinjam{
    position: fixed;
    z-index: 1;
}

#backToDetail{
    position: fixed;
    font-size: 50pt;
    margin-top: 85px;
    margin-left: 86.3vw;
    z-index: 2;
}

.judulPage{
    padding-top: 20px;
}

#btnPinjam{
    height: 60px;
    width: 110px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    background-color: #0095da;
    position: fixed;  
    vertical-align: middle;
    border: none;
    margin-left: 80.5vw;
    margin-top: 82vh;
    z-index: 1;
}

#imgProduk{
  width: 100%;
}

table#infoProduk{
    font-size: 18px;
}

table#infoProduk tr, table#infoProduk td{
    border: none;
}

table#infoProduk td.tdInfoData{
    font-weight: bold;
}

#tanggal{
  text-align: right;
}