html, body{
    background-color: #0095da;
    height: 100%;
}

article{
    height: auto;
}

div.whiteBoard{
    background-color: white;
    margin: 15px;
    padding-top: 15px;
    height: 100%;
}

.iconBack{
    font-size: 50px;
    padding: 1vh;
}

.judulPage{
    margin-top: 0px;
}

button.btnBlue{
    height: 50px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    background-color: #0095da;  
    vertical-align: middle;
    border: none;
}

table#formTambahProduk{
    margin: 20px 10px 20px 40px;
    font-size: 18px;
    width: inherit;
}

table#formTambahProduk tr, table#formTambahProduk td{
    border: none;
}

table#formTambahProduk td.tdInfoData, table#formTambahProduk td.tdInfoData input{
    font-weight: bold;
}

table#formTambahProduk #gambarProduk{
    width: 250px;
}

table#formTambahProduk td.tdInfoData input, table#formTambahProduk td.tdInfoData textarea{
    border: 2px solid #0095da;
    border-radius: 5px;
}

table#formTambahProduk td.tdInfoData textarea#long{
    height: 80px;
}

button#btnKirim{
    margin-top: -10px;
    margin-right: 20px;
}